@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(133, 137, 138);
  --foreground: rgb(100 100 100);
  --complementary: rgba(76, 119, 83);
  --tittle: rgb(50, 50, 50);
  --textAlt: #646464
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 0.375rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* Cambio de color para iconos */
.icons {
  cursor: pointer;
}

.icons:hover {
  color: var(--complementary);
}


/* Cambio de color para botón de "Descargar CV" */
button#downloadCV:hover h3 {
  color: var(--complementary);
}

button#downloadCV:hover span {
  color: var(--complementary);
}


/* Decorado para titulos */
.title {
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: linear-gradient(135deg, rgba(76, 119, 83, 0.4) 0%, rgba(76, 119, 83, 0.01) 100%);
  border-radius: 999px;
  top: .2rem;
  left: -.6rem;
}
