/* Estilo de las páginas */
.page {
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) /* #ffffff */;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity)) /* #ffffff */;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border-top-width: 8px;
  border-bottom-width: 8px;
  z-index: 0;
}

/* Animaciones */
@keyframes left-appearance {
  from {
    margin-left: -24rem;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 100%;
  }
}

@media (min-width: 768px) {
  .page {
    border-radius: 0.375rem /* 6px */;
  }
}

@media (min-width: 1024px) {
  /* Contenido en general */
  .page {
    overflow-y: auto;
    border-start-start-radius: 0px;
    border-end-start-radius: 0px;
    opacity: 10%;
  }

  /* Animación del contenido general */
  .page {
    animation-name: left-appearance;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    opacity: 100%;
  }
}
