@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 133, 137, 138;
  --background-end-rgb: 229, 230, 232;
}

/*barras de scroll*/
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

/* fondo de barra de scroll */
::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

/* barra para scroll */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

/* hover de para barra de scroll */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/*Fondo degradado*/
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient( to right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)) );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*Centrado de contenido*/
/*#page {
  position: relative;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}*/

/*Ajustes de estilo para sidebar de escritorio*/
#sidebar div {
  background-color: white;
}

#sidebar div div ul li a span {
  padding: 0;
}

/*Borde verde de perfil*/
#profileCard::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -15px;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(76, 119, 83, 0.4) 0%, rgba(76, 119, 83, 0.01) 100%);
  border-radius: 4px;
}

/*Paletas bordes en el foto de perfil*/
#profilePhoto::before {
  content: "";
  position: absolute;
  background: #ffffff;
  left: -25%;
  bottom: -56%;
  width: 100%;
  height: 70%;
  transform: rotate(12deg);
  -webkit-transform: rotate(9deg);
}

#profilePhoto::after {
  content: "";
  position: absolute;
  background: #ffffff;
  left: auto;
  right: -25%;
  bottom: -56%;
  width: 100%;
  height: 70%;
  transform: rotate(-12deg);
  -webkit-transform: rotate(-9deg);
}

/*Decorado de titulos*/
.title::before {
  content: "";
  position: absolute;
  margin-top: 0.2rem;
  margin-left: -0.9rem;
  width: 30px;
  height: 30px;
  background: linear-gradient(135deg, rgba(76, 119, 83, 0.4) 0%, rgba(76, 119, 83, 0.01) 100%);
  border-radius: 30px;
}

#servicios::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: 50%;
  background: radial-gradient(ellipse at top, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

/*@media screen and (min-width: 768px) {
  #profilePhoto::before {
    bottom: -54%;
  }
  
  #profilePhoto::after {
    bottom: -54%;
  }
}

@media screen and (min-width: 1024px) {
  #profilePhoto::before {
    bottom: -66%;
  }
  
  #profilePhoto::after {
    bottom: -66%;
  }
}*/