@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(133, 137, 138);
  --foreground: rgb(100 100 100);
  --complementary: rgba(76, 119, 83);
  --tittle: rgb(50, 50, 50);
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icons {
  cursor: pointer;
}

.icons:hover {
  color: var(--complementary);
}

div#profileImage::before {
  content: "";
  position: absolute;
  width: 16rem;
  height: 5rem;
  background-color: white;
  bottom: -3rem;
  left: -3rem;
  rotate: 20deg;
  z-index: 20;
}

div#profileImage::after {
  content: "";
  position: absolute;
  width: 16rem;
  height: 5rem;
  background-color: white;
  bottom: -3rem;
  right: -3rem;
  rotate: -20deg;
  z-index: 20;
}

button#downloadCV:hover h3 {
  color: var(--complementary);
}

button#downloadCV:hover span {
  color: var(--complementary);
}
